<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tennis Forum</title>
  </head>
  <body>
    <h2>Grand Slams</h2>
    <div class="row">

      <div>
        <ul>
          <% slams.forEach((slam) => { %>
              // This is updating the url parameters.
            <h3><a href="/slams/<%= slam.id %>"><%= slam.slam_name %></a></h3>
          <% }); %>
        </ul>
      </div>
    </div>
  </body>
</html>
