<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tennis Forum</title>
  </head>
  <body>
    <div class="row">
      <div>
        <ul>
            <h3>
              <%= slams.slam_name %>
            </h3>
        </ul>
      </div>
      <img src=<%= slams.slam_image_url %> />
    </div>
  </body>
</html>
