<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css"/>

    <title>Tennis Forum</title>
  </head>
  <body>



    <div class="container">
      <div class="row push-s3">
        <div class= "col m3">
              <h3>
                <%= slams.slam_name %>
              </h3>

              <h4>

              </h4>


        </div>
        <div>
          <img class="circle logo-image" src="<%= slams.slam_image_url %>"/>
        </div>
      </div>

      <div class="row">
        <form class="col s6">
          <div class="row">
            <div class="input-field col s3">
              <input id="question" placeholder="Post a question:" type="text" class="">
           <label for="question"></label>
         </div>
         <div class="input-field col s3">
           <input name= "req.body.[response]" id="response" placeholder="Different answer?" type="text" class="">
           <label for="answer"></label>
         </div>
       </div>
       <input class="submit" type="submit" name="" value="submit">
     </form>
   </div>
 </div>

  </body>
</html>
