body {
  background-color: #455a64 !important;
  color: #455a64;
  text-align: center;
}

img {
  box-shadow: 3px 3px rgba(0, 51, 51, .25);
}

.title {
  color: white;
  text-align: center;
}

h3 {
  color: white;
}

/*https://stackoverflow.com/questions/38964113/how-can-i-create-a-navbar-with-center-aligned-links-using-materialize*/
nav ul{
  transform: translateX(20%);
  webkit-transform: translateX(20%);
}

li {
  color: white;
}

ul {
  margin: auto;
}

.col {
  padding:30px;
  box-sizing:border-box;
}
/*a {
  margin-left: 100px;
}*/

h2 {
  text-align: center;
}


.nav-wrapper{
  margin-bottom: 25px;
  background-color: teal !important;
}

nav {
  height: 100px;
}

.submit {
  margin-left: -20px;
}

.container {
  margin-top: 60px !important ;
}

.logo-image {
  height: 350px;
  width: 350px;
}
