body {
  background-color: white;
  color: rgba(0, 151, 151, .9);
  text-align: center;
}

img {
  box-shadow: 3px 3px rgba(0, 51, 51, .25);
}

.title {
  color: grey;
  text-align: center;
}


.col {
  padding:30px;
  box-sizing:border-box;
}
a {
  margin-left: 100px;
}

h2 {
  text-align: center;
}


.nav-wrapper{
  margin-bottom: 100px;
 background-color: teal !important;
}

nav {
  height: 100px;
}

.container {
  margin-top: 100px !important ;
}

.logo-image {
  height: 500px;
  width: 500px;
}
